---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Vaillant";
  src: url("https://cdn.dsp.vaillant-group.com/1670576952/fonts/Vaillant16-Book.woff2")
      format("woff2"),
    url("https://cdn.dsp.vaillant-group.com/1670576952/fonts/Vaillant16-Book.woff")
      format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --color-green-60: #00826f;
  --color-green-100: #005949;

  --color-text: #1d2a39;
}

* {
  font-family: "Vaillant", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1 {
  font-weight: 700;
}

.main-content h2,
.main-content h3,
.main-content h4 {
  color: var(--color-text);
  font-weight: 600;
}

p,
li,
.site-footer-credits {
  color: var(--color-text);
}

a {
  color: var(--color-green-60);
  font-weight: 600;
}

a:hover,
a:active {
  color: var(--color-green-100);
  text-decoration: none;
}

a:focus-visible {
  outline: 1px dashed var(--color-green-100);
}

li::marker {
  color: var(--color-green-60);
}

.page-header {
  background: radial-gradient(
    81.5% 243.37% at 5.08% 13%,
    var(--color-green-60) 0%,
    var(--color-green-100) 100%
  );
}
